.page-link{
  cursor: pointer!important;
}

.spinnerContainer{
  position: fixed;
    inset: 0;
    background: rgba(255, 255, 255, .8);
    z-index: 999;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}